@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(243, 244, 246);
}

.registerBg {
  background-image: url("../src/bg/register.png");
  height: 800px;
  width: 50%;
  background-size: cover;
}

.bg-opacity {
  background: rgba(94, 80, 161, 0.8);
  height: 100%;
  width: 100%;
  background-size: cover;

}

.login, .picker{
  font-family: 'Open Sans', sans-serif;
}

.purple{
  background-color: #5E50A1;
  ;
}

.bg-image{
  background-image: url(./bg/loginbg.png) ;
  width: 60%;
  height: 800px;
  background-size: cover;
}

.bg-coloring{
  background: rgba(94, 80, 161,0.82);
  width: 100%;
  height: 100%;
  background-size: cover;


}